numpy>=1.26
pandas>=2.1
scipy>=1.11             
matplotlib>=3.9          
scikit-learn>=1.4
pydicom>=2.4
pylibjpeg>=2.0           
pylibjpeg-libjpeg>=2.1
pylibjpeg-openjpeg>=2.4
torch>=2.2
torchvision>=0.17
jupyterlab>=4.0
ipykernel>=6.29
